@charset "UTF-8";

:root{
    --mt-dark : #1b1c22;
    --mt-blue : #0d6efd;
    --mt-red-meet : #f01e4c;
    --mt-red-meet-light : #c98292;
    --mt-red-secondary : #ed1e4c;
    --mt-light : #fff; 
    --mt-gray : #505050;
    --mt-dark-gray : #444444;
    --mt-light-gray : #b5b5b5;

}
