@import url(colors.css);

<<<<<<< HEAD
html{
    background-color: aqua;
    height: 100%;
}

body{
    height: 100%!important;
}

.container{
    max-width: 900px!important;
    height: 100%!important;

=======
.container{
    max-width: 900px!important;
>>>>>>> 073418752eb3057b6c4987f70b5060847270b19f
}

.content{
    padding-top: 55px;
}

<<<<<<< HEAD
.main-content{
    height: 900px;
}
=======
>>>>>>> 073418752eb3057b6c4987f70b5060847270b19f
.bg-light-gray{
    background-color: var(--mt-light-gray)!important;
}

.bg-dark{
    background-color: var(--mt-dark)!important;
}

.bg-red-secondary{
    background-color: var(--mt-red-secondary)!important;
}


.bg-dark-gray{
<<<<<<< HEAD
    background-color: var(--mt-gray)!important;
=======
    background-color: var(--mt-dark-gray)!important;
}

.bg-gray{
    background-color: var(--mt-gray);
>>>>>>> 073418752eb3057b6c4987f70b5060847270b19f
}

.text-dark-gray{
    color: var(--mt-dark-gray)!important;
}

.text-gray{
    color: var(--mt-dark-gray)!important;
}
.mt-brand{
    max-width: 150px;
}

.navbar{
    padding: 0px!important;
<<<<<<< HEAD
    z-index: 10;
}

.profile{
    border-radius: 50%;
    width: 55px;
    background-color: var(--mt-light);
}

.bd-red-meet{
    border: 2px solid var(--mt-red-secondary);
    -webkit-box-shadow: 0px 0px 14px 8px rgba(237,30,76,0.44); 
    box-shadow: 0px 0px 14px 8px rgba(237,30,76,0.44);

}


=======
}

.profile{
   position: relative;
   padding-left: 0;	
   border-radius: 50%;
   	
	overflow: hidden;
    box-sizing: border-box;
}

.profile > img{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #97BCE0;
	object-fit: cover;
    margin: 0px auto!important;
}

.medium{
	width: 70px;
    height: 70px;
}

.medium > img{
    width: 65px;
    height: 65px;
}

.large > img{
    width: 195px;
    height: 195px;
}

.large{
	width: 200px;
	height: 200px;
}

.bd-red-meet{
    border: 3px solid var(--mt-red-secondary);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(237,30,76,0.44); 
    box-shadow: 0px 0px 10px 3px rgba(237,30,76,0.44);

}

.main-content{
    height: 900px!important;
}
>>>>>>> 073418752eb3057b6c4987f70b5060847270b19f

.btn-meet{
    background-color: var(--mt-red-meet)!important;
    border-color: var(--mt-red-meet)!important;
}

<<<<<<< HEAD
.fs-7{
    font-size: 13px;
}

.form-control:focus {
    color: #31363a;
    background-color: #fff;
    border-color: var(--mt-red-meet-light);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(237,30,76,0.1);
  }
=======
.file{
	position: relative;

	height: 50px;
	cursor: pointer;
	color: white;
	text-align: center;
	margin: auto;
	top: -50px;
	opacity: .8;

}

input[type="file"]{
	position: absolute;
}



.max-w-900{
    max-width: 900px;
}
>>>>>>> 073418752eb3057b6c4987f70b5060847270b19f
