@charset "UTF-8";
@import url(global.css);

body{
	background-color:  var(--mt-dark);
    margin: 0px!important;
}

.login-container{
    max-width: 430px!important;
}

.btn-meet{
    background-color: var(--mt-red-meet)!important;
    border-color: var(--mt-red-meet)!important;
}



.container{
    max-width: 500px!important;
}
