@charset "UTF-8";
@import url(global.css);

body{
	background-color:  var(--mt-dark);
    margin: 0px!important;
}

.login-container{
    max-width: 430px!important;
}





.container{
    max-width: 500px!important;
}
